{% extends 'base.html.twig' %}

{% block title %}Tournois de Foot{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

<h1>Statistique</h1>
    {% for joueur in joueurs %}
<ul>
            <li>Nom : {{joueur.nom}}</li>
            <li>Prenom : {{joueur.prenom}}</li>
            <li>Nombre de But : {{stat.buteur}}</li>
            <li>Nombre de Passe D. : {{stat.passeur}}</li>

                 
    {% endfor %}
    
</div>
{% endblock %}
